@import "variable.scss";
@import "_global.scss";
@import "mixins.scss";

.bl-header {
  &__image-container {
    text-align: center;
    width: 100% !important;
    height: auto !important;
    margin: 1.595em 0;
  }
}

.page-header {
  width: 100% !important;
  &__top {
    height: 2.1875em;
    background-color: $vivid-orange;
    color: #fff;
  }
  .scroll-header {
    background-color: #fff;
    height: 2.1875em;
    width: 10.625em;
    padding: 0.4rem 0.5rem;
    text-align: center;
    display: inline-block;
    float: left;
    position: relative;
    @include breakpoint-down(medium) {
      display: none;
    }
  }
  .select-language {
    display: none;
    width: 100%;
    select {
      width: 100% !important;
      height: 2.1875em;
      border: none;
      color: #fff;
      background-color: #ff5e14;
    }
    @include breakpoint-down(small) {
      display: block;
    }
  }
  .scroll-news-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    ul {
      //   @include breakpoint-up(medium) {
      display: flex;
      align-items: center;
    }
    &__item {
      color: #fff;
      padding: 5px 15px;
    }
    @include breakpoint-down(small) {
      display: none;
    }
  }
  &__top-searchBtn {
    height: 100%;
    text-align: right;
    @include breakpoint-down(small) {
      display: none;
    }
    .search-icon {
      color: #fff;
      background: transparent;
      border: none;
      padding: 6px 15px;
      transition: 0.3s;
      &:hover {
        background-color: #eaeaea;
        color: #000;
      }
    }
  }

  &__bottom {
    transition: 0.3s linear;
    background-color: #eaeaea;
    .nav-link {
      font-weight: 600;
      padding-right: 1.5rem !important;
      &:hover {
        color: $vivid-orange !important;
      }
    }
    .nav-item.active {
      font-weight: 600 !important;
    }
    .navbar-toggler {
      border: none;
    }
    .socialLinks {
      display: flex;
      align-items: center;
      ul {
        .unicode {
          .social-link {
            padding-left: 10px;
          }
        }
        .unicode::before {
          content: "";
          border-left: 1px solid#9898989a;
        }
        .social-link {
          margin-right: 10px;
          margin-top: 5px;
          height: 100%;
          vertical-align: middle;
          .fab {
            font-size: 20px;
            color: $vivid-orange;
            vertical-align: middle;
            &:hover {
              color: #9898989a;
            }
          }
        }
      }
    }
  }
  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
  }
}

//banner
.page-banner {
  .banner-image-container {
    overflow: hidden;
    width: 100% !important;
    height: auto !important;
    margin: 0.9375em 0;
    img {
      max-height: 6em;
    }
  }
}
.page-header {
  .searchBar {
    position: relative;
    display: none;
    @include breakpoint-down(small) {
      display: block;
    }
    .search-input {
      flex: 1;
      font-size: 15px;
      padding: 10px;
      border: none;
      border-radius: 50px;
      color: #495057;
    }
    button {
      padding: 5px 50px;
      border: none;
      border-radius: 50px;
      margin-left: 15px;
      @include breakpoint-down(small) {
        position: absolute;
        padding: 10px;
        right: 15px;
        background-color: transparent;
      }
    }
  }
}

.page-footer {
  margin-top: 20px;
  background: linear-gradient(59deg, #3a6073, #16222a);
  h2 {
    color: #fff !important;
  }
  a {
    color: #fff;
    &:hover {
      color: #ff5e14 !important;
    }
  }
  .social-media {
    border-left: 3px solid $vivid-orange;
    border-radius: 1px;

    li {
      padding: 5px 10px;
    }
    .fab {
      font-size: 30px;
      &:hover {
        color: $vivid-orange;
      }
    }
  }
}

.photo-feature {
  @media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
  }

  /* large - display 3 */

  @media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }

  @media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }
}

.ads {
  padding: 30px 0px;
  text-align: center;
}

.vdo {
  position: relative;

  i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 40px;
    color: #fff;
    transform: translate(-50%, -50%);
  }
}

.content-overlay {
  position: absolute;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  height: 50%;
  background: #08080896;
  h5 {
    a {
      color: #fff !important;
    }
  }
  .kl-h-text {
    font-size: 25px !important;
  }
}

.lifestyle {
  padding: 50px 0px 10px;
  margin-bottom: 50px;
  .block-header {
    &::after {
      width: 0px !important;
    }
    h2 {
      &::before {
        background: #0d0c0f !important;
      }

      a {
        color: #fff !important;
      }
    }
  }

  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }

      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-control {
      z-index: 2;
    }
  }
  .slider-2 {
    margin: 50px 0px;
    .carousel-inner {
      border-radius: 10px;
      overflow: hidden;
      img {
        height: 500px;
        width: 80%;
        margin: auto;
        @include breakpoint-down(small) {
          height: 200px;
        }
      }
      &:hover {
        .carousel-caption {
          display: block;
        }
      }
      .carousel-caption {
        display: none;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-color: #000000a8;
        padding-left: 80px;
      }
    }
    .carousel-indicators {
      margin-top: 60px;
      position: initial !important;
      li {
        width: 100px;
        text-indent: unset;
        height: 60px !important;
        overflow: hidden;
        margin: 0px 20px;
        border-radius: 5px;
        overflow: hidden;
        border: none;
        @include breakpoint-down(small) {
          height: 100% !important;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.news-list {
  border-radius: 5px;
  padding: 10px;

  .news-item {
    position: relative;
    &::before {
      content: "\2022";
      color: red;
      font-size: 35px;
      margin-top: -18px;
    }
  }
}

.evn {
  background-color: #eaeaea;
}
.media-list {
  position: absolute;
  bottom: 26px;
  left: 20px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  li {
    &:hover {
      color: $vivid-orange;
    }
  }
}

.image-mask {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0a0a0a70;
  width: 100%;
  height: 100%;
}
.play-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: $white;
  padding: 10px 15px;
  font-size: 12px;
}
.live_bar {
  position: relative;
  padding: 10px 0px;
  a {
    color: #000;
  }
  span.live-icon {
    display: inline-block;
    top: calc(50% - 5px);
    background-color: red;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border: 1px solid rgba(black, 0.1);
    border-radius: 50%;
    z-index: 1;
    &:before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(red, 0.6);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      animation: live 2s ease-in-out infinite;
      z-index: -1;
    }
  }
  @keyframes live {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(3.5, 3.5);
      background-color: rgba(red, 0);
    }
  }
}

.gf-h-text {
  font-size: 40px !important;
  @include breakpoint-down(medium) {
    font-size: 20px !important;
  }
}

.sy {
  img {
    width: 120px !important;
    border-radius: 50%;
  }
}

.recom {
  figure {
    height: 200px;
    padding: 10px;
    background-color: #fff !important;
    border: 1px solid rgba(209, 208, 208, 0.562);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .img-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .image-mask {
    }
  }
}

.comment-form {
  border-radius: 5px;
  form {
    padding: 15px;
    border-radius: 10px;
    background-color: #f6f1f1;

    label::after {
      content: " *";
      color: red;
    }
  }
}

.article__share--footer {
  // margin-top: 2rem;
  text-align: left;
}

.article__share--footer .at-resp-share-element .at-share-btn {
  margin-left: 0 !important;
  margin-right: 8px !important;
}

.article__share .at-resp-share-element .at-share-btn {
  margin-bottom: 0 !important;
}

.at-style-responsive .at-share-btn {
  padding: 5px;
}
.at-resp-share-element .at-share-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 2px 5px;
  padding: 0;
  overflow: hidden;
  line-height: 0;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 0;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  background-color: transparent;
}

.at4-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  overflow: hidden;
}
.at-resp-share-element .at-share-btn .at-icon-wrapper {
  float: left;
}
.news-comment {
  display: none;
}
